<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods">
        <listeners>
            <listener class-name="com.prestashop.demo.final_progect.design.listener.TestAllureListeners"/>
        </listeners>
    <test name="Test" parallel="methods" thread-count="2">
        <parameter name="browser" value="chrome"/>
        <parameter name="resolution" value="1024x768"/>
        <classes>
            <class name="com.prestashop.demo.final_project.design.test.srp.SubscribeWithInvalidEmailTest"/>
<!--            <class name="com.prestashop.demo.final_project.design.test.srp.CheckLanguagesTest"/>-->
<!--            <class name="com.prestashop.demo.final_project.design.test.srp.RegistrationWithValidDataTest"/>-->
<!--            <class name="com.prestashop.demo.final_project.design.test.srp.RegistrationNegativeScenarioTest"/>-->
<!--            <class name="com.prestashop.demo.final_project.design.test.srp.CheckCategoriesTest"/>-->
<!--            <class name="com.prestashop.demo.final_project.design.test.srp.CheckPopularProductsTest"/>-->
<!--            <class name="com.prestashop.demo.final_project.design.test.srp.DropPriceCheckTest"/>-->
        </classes>
    </test>
</suite>